
.invitation_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 80px 150px 80px  ;
    background-image: url(https://i.ibb.co/wyZSRt2/Tiny-PNG-3.png);
    background-repeat: repeat;
}

.invitation_text_container{
    width: 50%;
}

.invitation_paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 2px 0 4px black;
    color: rgb(208,162,95);
    
}

.invitation_title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 0 4px black;
    color: rgb(208,162,95);
    font-size: 70px;
}

.invitation_photo_container{
    width: 50%;
    display: flex;
    justify-content: center;
    
}

.invitation_image{
    width: 400px;
    border-radius: 40%;
}

@media (max-width: 1053px) {
    .invitation_container{
        flex-direction: column;
    }

    .invitation_image{
        margin-bottom: 170px;
    }
}