.map_container{
    margin: 50px 0px 50px 0px;
}

.map_tittle{
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    margin: 30px;
    background: rgba(131,164,199,255);
    font-family: 'Luckiest Guy', cursive;
    border-radius: 20px;
    padding: 10px;

}

.googleMap{
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

@media (max-width: 1053px){
    .googleMap{
        width: fit-content;
        height: fit-content;
        margin: 5px;
        
    }
}