.navbar_container{
    background-color: white;
    display: flex;
    margin-top: px;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 0.9;
}

.nav_title_container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_title{
    width: 150px;
    height: 70px;
}

.nav_list_container{
    width: 80%;
}

.nav_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: black;
    cursor: pointer;
}

.list_container{
   display: flex; 
   text-align: center;
   margin: 0px 5px 0px 5px;
   font-weight: 300;
   font-family: 'Luckiest Guy', cursive;
}

.list_container:hover{
    background-color: yellow;
    color: black;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .nav_title{
        width: 100px;
        height: 50px;
        margin-left: 20px;
    }


}

