@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Macondo&family=Roboto&display=swap');

:root{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Roboto', sans-serif;
}
